<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8"> 
<title>demo</title> 
</head>
<body>

<form name="input" action="http://127.0.0.1:8000/demo/postnews" method="post">

<h1> 新闻demo </h1>
<p> ---新闻所在网址或新闻标题至少填一项，新闻内容选填  </p>
URL（新闻所在网址）:<input type="text" name="url" style="width:400px">
<br>
新闻标题:<input type="text" name="title" style="width:400px"  value="朴槿惠被弹劾后谁当总统？民调:潘基文呼声最高">
<br>
新闻内容: <textarea type="text" name="content" style="width:1000px; height:200px;"  >新华社北京12月10日新媒体专电（记者夏文辉）韩国国会9日以压倒性票数表决通过对总统朴槿惠的弹劾动议案，其总统职权即刻转由总理黄教安暂代，朴槿惠可能成为第一位提前下台的民选总统。当天不少议员呼吁推动国政正常化，结束一段时间以来的政治混乱状态。但是弹劾案通过，反对党是否接受黄教安代理国家元首职权？执政党派会否分裂？对朴槿惠怎样处置？新总统如何产生？中国社科院亚太研究所副研究员王晓玲认为，矛盾并未消除，党派争斗甚至会更激烈，韩国政局还要乱一段时间。

　　[朴槿惠“悬空”]

　　根据法律，弹劾案通过，宪法法院将在最长180天时限内对弹劾案作出裁决。按既定程序，宪法法院首先要求朴槿惠给出一份书面答辩，解释弹劾动议所给出她涉嫌的问题和责任，然后交由国会审查，之后进入朴槿惠本人参与、包括各党派的几轮辩论程序，再由宪法法院决定弹劾案是否通过。
首尔，一名商贩向行人分发刊有朴槿惠弹劾案新闻的报纸。（新华/美联）首尔，一名商贩向行人分发刊有朴槿惠弹劾案新闻的报纸。（新华/美联）

　　王晓玲认为，宪法法院通过的可能性比较大，而且可能用不了那么长时间。参照2004年对前总统卢武铉弹劾案的审理，宪法法院会重视国民的意愿。根据最新民意调查，81%的受访者支持对朴槿惠的弹劾，因此，即便9名宪法法院成员中大多数立场保守，但也要参照国民的意愿以及弹劾案针对朴槿惠提出的问题和责任，尤其“岁月”号沉船当天朴槿惠的“失踪七小时”还有待调查，如果再对朴槿惠不利，她就彻底失掉机会了。

　　王晓玲认为，朴槿惠现在权力“悬空”，但她在后续政治斗争中还是一个因素，难以完全从政治漩涡中消失。现在看，朴槿惠提前下台在所难免，她可能会失去总统豁免权，并可能因为贪腐和滥用职权等指控受到起诉。

　　[执政党“散摊”]
国会通过弹劾案后，议员举手庆祝。（新华/路透）国会通过弹劾案后，议员举手庆祝。（新华/路透）

　　9日的弹劾案在国会以不记名方式投票，最后以234票赞成、56票反对通过。在韩国国会的300个议席中，弹劾案通过必须有200票的支持。路透社说，这显示执政的新国家党中有数十名议员支持弹劾。56票反对更表明支持朴槿惠的议员已经为数不多。

　　王晓玲认为，新国家党在是否支持朴槿惠问题上明显分裂，不过这并不意味新国家党完全分裂，保守的党派势力还在，会集结力量，继续斗争。

　　就保守党派内部看，“亲朴派”受丑闻和弹劾案的牵连，受到严重打击，短时间内难以振作，后续也难以推出有实力的人物，“非朴派”也比较难办，他们背上了道德负债。但是现在执政党只能继续斗争，因为他们已经输无可输，着眼明年夏季大选，固守最大的政治地盘。

　　[党派斗“转场”]
韩国总理黄教安（左）在内阁会议上向国旗致敬。（新华/美联）韩国总理黄教安（左）在内阁会议上向国旗致敬。（新华/美联）

　　正常情况下，朴槿惠五年总统任期到2018年2月24日结束。弹劾案在国会通过后，朴槿惠下台的时间还未确定，暂行总统职权的总理黄教安成为党派斗争的焦点。

　　王晓玲说，当朴槿惠任命黄教安担任总理时，在野党就十分反感，但也没有推出各方接受的人选。现在黄教安代行总统职权，在野党应该不会善罢甘休，而且在朴槿惠被弹劾的情况下，黄教安的威信也严重受损，民众恐怕也不会接受。

　　王晓玲说，弹劾案通过后，政局对最大在野党共同民主党非常有利，扳倒朴槿惠要算他们的政绩，在野党会继续出击，而且把保守党派和内阁很多成员同朴槿惠绑定，要把他们都拖下水。此前在野党已经提出，如果弹劾案通过，内阁应该一起解散，在这种情况下，保守党的奋力自保和在野党的乘胜追击，只会让政坛争斗加剧，而不会平息。

　　弹劾案通过，韩国总统选举势必提前，下一任总统候选人竞争加速，也成为政党争斗的重中之重。
国会大厦外，警察与抗议群众对峙着。（新华/法新）国会大厦外，警察与抗议群众对峙着。（新华/法新）

　　据韩联社，当前较有竞争力的是联合国秘书长潘基文、最大在野党共同民主党前党首文在寅和第二大在野党国民之党前党首安哲秀。韩国盖洛普公司近期的民调显示，潘基文的支持率是21%，文在寅支持率是19%，安哲秀支持率是10%。

　　文在寅和安哲秀都是左派，文在寅在上次总统选举中以微弱差距败给朴槿惠，目前是在野党人气最高的人士。王晓玲认为，在野党现在手中一把好牌，但不代表一定会赢。在后续争斗中，他们是否让百姓看到具体、有效的解决当前冲突、尽快恢复国政的办法？如果之后仍然是一团乱仗，民众出现“审丑疲劳”，在野党就会有利变不利。

　　就保守党派而言，据韩国媒体，其重要人物已经表示要将韩国的未来托付给潘基文，事实上已经将其作为下一任总统候选人看待。目前潘基文对韩国局势很超脱，王晓玲认为这使他没有“朴槿惠负担”，鉴于他已经表示卸任后会考虑如何服务韩国，加入明年政坛竞逐的可能很大。</textarea>
<br>
<input type="submit" value="提交">
</form>


</body>
</html>